
@{
    ViewData["Title"] = "Register Successfully";
}

<header>
    <h1 class="text-success">@ViewData["Title"]!</h1>
    <p class="text-success">Thông tin đăng ký thành viên đã được ghi nhận thành công.</p>
    <p class="text-success">Vui lòng kiểm tra email <strong>@TempData["EmailDangKy"]</strong> để kích hoạt tài khoản thành viên.</p>
</header>

