@model ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}
<style>
    .register-info {
        border: 1px solid;
        box-shadow: 5px 6px #888888;
        padding: 15px;
        margin-top: 10px;
    }

        .register-info .page-heading {
            margin-top: 10px !important;
        }

        .register-info .require {
            color: #e71a0f;
        }

    .validation-summary-errors ul {
        list-style: square;
        margin: 0 0 0 15px;
        padding: 0px;
    }
</style>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        <div class="register-info">
            <form asp-area="Manage" asp-controller="Account" asp-action="ChangePassword" method="post">
                <h2 class="page-heading">Thay đổi mật khẩu</h2>
                <hr />
                <div class="form-group">
                    <label asp-for="MatKhauCu"></label><span class="require">*</span>
                    <input asp-for="MatKhauCu" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MatKhauMoi"></label><span class="require">*</span>
                    <input asp-for="MatKhauMoi" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="NhapLaiMatKhauMoi"></label><span class="require">*</span>
                    <input asp-for="NhapLaiMatKhauMoi" class="form-control" />
                </div>
                @if (ViewData["ThongBao"] != null)
                {
                    <div class="form-group">
                        @Html.Raw(ViewData["ThongBao"])
                    </div>
                }
                <div class="form-group">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

